.container {
   background-color: #e5e5e5;
   width: 100%;
   height: 100vh;
   margin-top: 15vh;
}

.content {
   padding: 60px 150px 0 150px;
   display: flex;
   justify-content: space-between;
}

.title {
   margin-bottom: 30px;
}

.profileContainer {
   display: flex;
   justify-content: space-between;
   width: 350px;
}

.sectionOne {
   width: 30%;
}

.profileView {
   display: flex;
   flex-direction: column;
}

.profileImage {
   width: 150px;
   margin-bottom: 20px;
}

.btnEdit {
   width: 100%;
   height: 40px;
   border: none;
   border-radius: 5px;
   background-color: #433434;
   color: white;
}

.profileInfo {
   font-size: 18px;
   margin-left: 40px;
}

.sectionTwo {
}

.cardHistory {
   background-color: white;
   border: none;
   border-radius: 5px;
   height: 120px;
   width: 400px;
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
}

.logoHistory {
}
